.stats-header {
  width: 100%;
  height: 10vh;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1vh;
}

.stats-header > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.stats-header > div > h3 {
  font-size: 28px;

  color: #b1b8c0;
}
.stats-header > div > h6 {
  font-size: 28px;
  font-weight: 700;
  color: #6c757d;
}

.stats-header > div:nth-child(1) > h6 {
  color: #5cdd8b;
}

.stats-header > div:nth-child(2) > h6 {
  color: #dc3545;
}
.stats-header > div:nth-child(3) > h6 {
  color: #1747f5;
}
