.dashboard-container {
  width: 63.5vw;

  /* background-color: aliceblue; */
}
.dashboard-container > h1 {
  height: 8vh;
  color: #b1b8c0;
  line-height: 8vh;
  margin: 0;
  padding: 0;
}
.dashboard-processes-container {
  width: 100%;
  height: 100vh;
  margin-top: 2vh;
  border-radius: 10px;
  background-color: #0d1117;
}
